<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CounterDown (Mac) Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CounterDown (Mac).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CounterDown (Watch).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CounterDown-Watch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CounterDown.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widgets (Multiplatform).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Widgets (Watch).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E01056B2B5E177A00A03873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E179CBD2B60CD2500972657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBAA4BA2B58CBD300F3005D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBAA4D02B58CBF700F3005D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBAA4F92B58D3A100F3005D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECAD4522B5E0D0E00EC42D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFEBA362B525F4000AE19F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
